<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="layout(content, pageTitle)">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'SV Trucking' + (${pageTitle} ? ' - ' + ${pageTitle} : '')">SV Trucking</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css">
    
    <link th:href="@{/css/admin.css}" rel="stylesheet">

     <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
    
    
    
    <style>
        .dataTables_filter 
        {
            padding-bottom: 10px !important;
        }

        [is-show="true"]
        {
            display: block !important;
        }
        @media print {
            .no-print {
                display: none !important;
            }
        }

        .battambang-thin {
            font-family: "Battambang", system-ui;
            font-weight: 100;
            font-style: normal;
        }

        .battambang-light {
            font-family: "Battambang", system-ui;
            font-weight: 300;
            font-style: normal;
        }

        .battambang-regular {
            font-family: "Battambang", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        .battambang-bold {
            font-family: "Battambang", system-ui;
            font-weight: 700;
            font-style: normal;
        }

        .battambang-black {
            font-family: "Battambang", system-ui;
            font-weight: 900;
            font-style: normal;
        }
    </style>

    <th:block th:fragment="body-scripts"></th:block>
     <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body class="bg-gray-100 dark:bg-gray-900 h-full" th:classappend="${isMobile} ? 'mobile' : (isTablet ? 'tablet' : 'desktop')">
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-content">
            <img src="/images/logo.png" alt="Logo">
            <p class="!text-white">© 2025 SV Statistics Survey . All rights reserved.</p>
        </div>
    </div>

    <!-- Header -->
    <div th:insert="~{partials/header :: header}" class="no-print"></div>


    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="no-print">
        <div id="sidebarOverlay"
            class=""></div>

            

        <div id="sidebar" class="fixed top-0 bottom-0 left-0 z-40">
            <div th:insert="~{partials/sidebar :: sidebar}"></div>
        </div>
    </div>

    <th:block th:fragment="layout(content, title)">
        <main id="main-content">
            <!-- Main Content -->
            <div class="transition-[margin-left] duration-100 ease-in-out min-h-screen bg-gray-100 dark:bg-gray-900 p-4 sm:p-6 lg:p-8 !pt-[105px] font-sans ml-0" 
                id="content-body" 
                th:insert="${content}"></div>
        </main>

         <th:block th:fragment="body-scripts"></th:block>
    </th:block>

    


    <div id="alert-container" class="container mb-3"></div>

    <!-- Footer -->
    <div th:insert="~{partials/footer :: footer}"></div>

    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/dayjs/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/relativeTime.js"></script>

    <script src="https://js.pusher.com/beams/2.1.0/push-notifications-cdn.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/detect-mobile-browser@5.0.0/detect-browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>

    <script>
        dayjs.extend(dayjs_plugin_relativeTime);
    </script>

    <script th:src="@{/js/main.js}"></script>

   



    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }

        $(window).on("scroll", function () {
            const scrollTop = $(this).scrollTop();
            const windowHeight = $(this).height();
            const docHeight = $(document).height();

            if (scrollTop === 0 || scrollTop + windowHeight >= docHeight) {
                $("#custom-padding-top").addClass("pt-[72px]");
            } else {
                $("#custom-padding-top").removeClass("pt-[72px]");
            }
        });

        $(function() {
            $(".datepicker").flatpickr({
                dateFormat: "M d, Y",
                maxDate: "today"
            });

        })
    </script>

    <script>

        // $(function () { 
        //     if ($(window).width() >= 768) {
        //         return; // desktop → do nothing
        //     }

        //     let lastScrollTop = 0;

        //     $(window).on("scroll", function () {
        //         let st = $(this).scrollTop();

        //         // Always show header when at the very top
        //         if (st === 0) {
        //             $("#header").slideDown(150);
        //             $("#content-body").addClass("!pt-[105px]");
        //             lastScrollTop = 0;
        //             return;
        //         }

        //         if (st > lastScrollTop) {
        //             // Scrolling down → hide
        //             $("#header").slideUp(150);
        //             $("#content-body").removeClass("!pt-[105px]");
        //         } else {
        //             // Scrolling up → show
        //             $("#header").slideDown(150);
        //             $("#content-body").addClass("!pt-[105px]");
        //         }

        //         lastScrollTop = st;
        //     });
        // });

        
        // Theme toggle functionality
        document.addEventListener('DOMContentLoaded', function() {

            const userAgent = SmartPhone.getUserAgent();
            console.log({SmartPhone}, userAgent);


            const themeToggleBtn = document.getElementById('theme-toggle');
            const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
            const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
            const themeToggleText = document.getElementById('theme-toggle-text');
            
            // Check for saved theme preference or use system preference
            if (localStorage.getItem('color-theme') === 'dark' || 
                (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
                themeToggleLightIcon.classList.remove('hidden');
            } else {
                document.documentElement.classList.remove('dark');
                themeToggleDarkIcon.classList.remove('hidden');
            }
            
            themeToggleBtn.addEventListener('click', function() {
                // Toggle icons
                themeToggleDarkIcon.classList.toggle('hidden');
                themeToggleLightIcon.classList.toggle('hidden');
                
                // Toggle theme
                if (document.documentElement.classList.contains('dark')) {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                    themeToggleText.textContent = 'Toggle theme';
                } else {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                    themeToggleText.textContent = 'Toggle theme';
                }
            });

        });


        const beamsClient = new PusherPushNotifications.Client({
            instanceId: 'c56fbb99-bd0b-4b6e-8a3c-70cf1492d8cf',
        });

        
        // Start the Beams client once
        beamsClient
            .start()
            .then(() => {
                return beamsClient.getDeviceId();
            })
            .then((deviceId) => {
                console.log("Successfully registered with Beams. Device ID:", deviceId);
                // return beamsClient.setUserId('10', tokenProvider);
            })
            .then(() => {
                console.log('User ID has been set');
            })
            .catch((e) => console.error('Could not initialize Beams:', e));


            const socket = new SockJS("/ws");
            const stompClient = Stomp.over(socket);

            stompClient.connect({}, function () {
                console.log("Connected to WebSocket");

                stompClient.subscribe("/topic/notifications", function (msg) {
                   console.log({msg})
                });

                stompClient.subscribe("/user/queue/reply", function (msg) {
                    console.log("Private message:", msg.body);
                });

                // stompClient.send("/app/sendMessage", {}, "Hi Server sendMessage");
                // stompClient.send("/app/hello", {}, "Hi Server");

            });
        </script>


    </body>
</html>
