<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-full bg-gray-50 dark:bg-gray-900">
<head>
    <th:block th:insert="~{layouts/main :: head}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"  />
</head>
<body class="h-full text-gray-800 dark:text-gray-200">

<th:block th:insert="~{layouts/main :: layout(~{::content}, 'Dashboard')}">
    <th:block th:fragment="content">
        <div class="mx-auto sm:px-6 lg:px-8">

            <!-- Success Message -->
            <div th:if="${success}" 
                 class="bg-green-100 border border-green-400 text-green-700 dark:bg-green-900 dark:border-green-700 dark:text-green-300 px-4 py-3 rounded relative mb-4" 
                 role="alert">
                <span class="block sm:inline" th:text="${success}"></span>
            </div>

            <!-- Error Message -->
            <div th:if="${error}" 
                 class="bg-red-100 border border-red-400 text-red-700 dark:bg-red-900 dark:border-red-700 dark:text-red-300 px-4 py-3 rounded relative mb-4" 
                 role="alert">
                <span class="block sm:inline" th:text="${error}"></span>
            </div>

            <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200" 
                    th:text="${truck.id} ? 'Edit Truck' : 'Add New Truck'">
                </h1>
            </div>

            <div class="">
                <!-- Validation messages -->
                <div th:if="${error_phone}" class="bg-red-100 border border-red-400 text-red-700 dark:bg-red-900 dark:border-red-700 dark:text-red-300 px-4 py-3 rounded mb-4" th:text="${error_phone}"></div>
                <div th:if="${error_truck}" class="bg-red-100 border border-red-400 text-red-700 dark:bg-red-900 dark:border-red-700 dark:text-red-300 px-4 py-3 rounded mb-4" th:text="${error_truck}"></div>

                <form th:action="${truck.id} ? @{/admin/trucks/update/{id}(id=${truck.id})} : @{/admin/trucks/create}" 
                      th:object="${truck}" method="post">

                    <div class="grid grid-cols-2 gap-6 mb-8">
                        <!-- License Plate -->
                        <div>
                            <label for="licensePlate" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">License Plate</label>
                            <input type="text" th:field="*{licensePlate}" id="licensePlate"
                                   class="shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-500">
                            <p class="text-red-500 text-xs italic" th:if="${#fields.hasErrors('licensePlate')}" th:errors="*{licensePlate}"></p>
                        </div>

                        <!-- Model -->
                        <!-- <div>
                            <label for="model" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Select Model</label>
                            <select th:field="*{model}" id="model"
                                    class="select2 w-full rounded border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-100">
                                <option value="">-- Select model --</option>
                                <option th:each="model : ${models}" 
                                        th:value="${model.id}" 
                                        th:text="${model.name}" 
                                        th:selected="${truck.model != null} ? ${model.id} == ${truck.model.id} : false">
                                </option>
                            </select>
                            <p class="text-red-500 text-xs italic" th:if="${#fields.hasErrors('model')}" th:errors="*{truck}"></p>
                        </div> -->
                         <div>
                            <label for="modelId" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">
                                Select Model
                            </label>
                            <select th:field="*{modelId}" id="modelId"
                                    class="select2 w-full rounded border-gray-300 dark:border-gray-600 
                                        bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-100">
                                <option value="">-- Select model --</option>
                                <option th:each="m : ${models}" 
                                        th:value="${m.id}" 
                                        th:text="${m.name}">
                                </option>
                            </select>
                            <p class="text-red-500 text-xs italic" th:if="${#fields.hasErrors('modelId')}" 
                            th:errors="*{modelId}"></p>
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-6 mb-8">
                        <!-- Year -->
                        <div>
                            <label for="year" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Year</label>
                            <input type="text" th:field="*{year}" id="year"
                                   class="shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-500">
                            <p class="text-red-500 text-xs italic" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
                        </div>

                        <!-- KM For Change Fats -->
                        <div>
                            <label for="kmForFatsShoot" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">KM For Change Fats</label>
                            <input type="text" th:field="*{kmForFatsShoot}" id="kmForFatsShoot"
                                   class="shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-500">
                            <p class="text-red-500 text-xs italic" th:if="${#fields.hasErrors('kmForFatsShoot')}" th:errors="*{kmForFatsShoot}"></p>
                        </div>
                    </div>

                    <div class="flex items-center justify-between">
                        <button type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-blue-300">
                            <span th:text="${truck.id} ? 'Update' : 'Create'"></span> Truck
                        </button>
                        <a th:href="@{/admin/trucks}" class="text-sm font-bold text-blue-500 hover:text-blue-700">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" ></script>
<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>

</body>
</html>
