<!DOCTYPE html>
<th:block th:fragment="~{layouts/main :: head}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
</th:block>

<th:block th:insert="~{layouts/main :: layout(~{::content}, 'Dashboard')}">
    <th:block th:fragment="content">
        <div class="mx-auto sm:px-6 lg:px-8">

            <!-- Success Message -->
            <div th:if="${success}" 
                 class="bg-green-100 border border-green-400 text-green-700 dark:bg-green-900 dark:border-green-700 dark:text-green-300 px-4 py-3 rounded relative mb-4" 
                 role="alert">
                <span class="block sm:inline" th:text="${success}"></span>
            </div>

            <!-- Error Message -->
            <div th:if="${error}" 
                 class="bg-red-100 border border-red-400 text-red-700 dark:bg-red-900 dark:border-red-700 dark:text-red-300 px-4 py-3 rounded relative mb-4" 
                 role="alert">
                <span class="block sm:inline" th:text="${error}"></span>
            </div>

            <div class="flex justify-start items-center gap-2 mb-6">
                <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200" 
                    th:text="${inspection.id} ? 'Edit Inspection' : 'Add New Inspection'">
                </h1>
            </div>

            <div class="">
                <!-- Validation messages -->
                <div th:if="${error_phone}" class="bg-red-100 border border-red-400 text-red-700 dark:bg-red-900 dark:border-red-700 dark:text-red-300 px-4 py-3 rounded mb-4" th:text="${error_phone}"></div>
                <div th:if="${error_truck}" class="bg-red-100 border border-red-400 text-red-700 dark:bg-red-900 dark:border-red-700 dark:text-red-300 px-4 py-3 rounded mb-4" th:text="${error_truck}"></div>

                <form th:action="@{${selectedTruck != null} ? '/inspections/save/' + ${selectedTruck.id} : '/inspections/save'}" th:object="${inspectionForm}" method="post" class="bg-white dark:bg-gray-800 p-6 rounded shadow">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" name="formType" value="add"/>

                    <div class="grid grid-cols-1 gap-4">
                        
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
                            <div>
                                <label for="date" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Date</label>
                                <input type="text" th:field="*{date}" id="date"
                                        th:value="${currentDate}"
                                        class="datepicker shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-500">
                                <p class="mt-1 text-sm text-red-600 dark:text-red-400" 
                                    th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                            </div>

                            <div>
                                <label class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Truck</label>
                                <select th:field="*{truckId}" style="width: 100%;" id="truck" class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 text-gray-700 dark:text-gray-100">
                                <option value="">-- Select truck --</option>
                                <option th:each="t : ${trucks}" 
                                    th:value="${t.id}" 
                                    th:text="${t.licensePlate}"
                                    th:selected="${selectedTruckId != null} ? ${t.id} == ${selectedTruckId} : false"
                                        >
                                    </option>
                                </select>
                                <p class="mt-1 text-sm text-red-600 dark:text-red-400" 
                                    th:if="${#fields.hasErrors('truckId')}" th:errors="*{truckId}"></p>
                            </div>

                        
                            <div>
                                <label for="expiredDate" class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Expired Date</label>
                                <input type="text" th:field="*{expiredDate}" id="expiredDate"
                                    required
                                    class="datepicker shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-500">
                                <p class="mt-1 text-sm text-red-600 dark:text-red-400" 
                                    th:if="${#fields.hasErrors('expiredDate')}" th:errors="*{expiredDate}"></p>
                            </div>

                            <div>
                                <label class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Quantity</label>
                                <input type="number" required th:field="*{quantity}" min="0" class="shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600"/>
                                <p class="mt-1 text-sm text-red-600 dark:text-red-400" 
                                    th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                            </div>
                        </div>

                        <div>
                            <label class="block text-sm font-bold mb-2 text-gray-700 dark:text-gray-300">Note</label>
                            <textarea th:field="*{note}" rows="4" class="shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600"></textarea>
                        </div>


                        <div class="flex gap-2">
                            <a th:href="@{/inspections}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Cancel</a>
                            <button type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Save
                            </button>
                            <button type="submit" name="action" value="save_continue"
                                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
                                Save & Continue
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</th:block>


<th:block th:fragment="~{layouts/main :: body-scripts}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" ></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>

        $(function () {
            $('#truck').select2({
                placeholder: "Select Truck",
                allowClear: true
            });
            $("#date").flatpickr({
                defaultDate: new Date(),
                dateFormat: "M d, Y",
                allowInput: true
            });
            $("#expiredDate").flatpickr({
                dateFormat: "M d, Y",
                allowInput: true
            });
        })
        
    </script>
</th:block>
