<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layouts/main :: head}"></th:block>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        .dataTables_filter input {
            border: 1px solid #d1d5db !important;
            border-radius: 0.375rem !important;
            padding: 0.375rem 0.75rem !important;
        }
        .dataTables_length select {
            border: 1px solid #d1d5db !important;
            border-radius: 0.375rem !important;
            padding: 0.25rem 0.5rem !important;
        }
        .dataTables_processing {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        tr:not(.need-to-inspection):hover {
            @apply bg-gray-50 dark:bg-gray-800;
        }
    </style>
</head>
<th:block th:insert="~{layouts/main :: layout(~{::content}, 'Dashboard')}">
    <th:block th:fragment="content">
        <div class="">
            <div class="mx-auto sm:px-6 lg:px-8">

                <!-- Success Message -->
                <div th:if="${success}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <span class="block sm:inline" th:text="${success}"></span>
                </div>

                <!-- Error Message -->
                <div th:if="${error}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <span class="block sm:inline" th:text="${error}"></span>
                </div>


                <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200" th:text="#{trucks_inspections}"></h1>

                <div class="flex gap-2 items-center mb-6">
                    <a target="_blank" th:href="@{/inspections/create}" 
                        class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md transition duration-200">
                            
                        <i class="fas fa-plus"></i>
                        <span>Create Inspection</span>
                    </a>
                    <a target="_blank" th:href="@{/inspections/import}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:focus:ring-offset-gray-800">
                        <i class="fa fa-excel"></i>
                        Import Inspections
                    </a>
                    <!-- Excel Export Button -->
                    <a th:href="@{/inspections(
                        page=${currentPage},
                        size=${pageSize},
                        all=${showAll},
                        licensePlate=${licensePlate != null ? licensePlate : ''},
                        export='excel'
                    )}" 
                    class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md flex items-center space-x-2">
                        <i class="fas fa-file-excel"></i>
                        <span>Export to Excel</span>
                    </a>
                </div>
                
            </div>

            <div class="">
                <div class="flex justify-between items-center">
                    <form method="get" class="mb-4 flex items-center gap-4 text-gray-800 dark:text-gray-200">
                        <!-- Page size selector -->
                        <div class="flex items-center">
                            <label for="size">Size:</label>
                            <select id="size" name="size" onchange="this.form.submit()" class="truck w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 text-gray-700 dark:text-gray-100">
                                <option th:value="5" th:selected="${pageSize == '5'}">5</option>
                                <option th:value="10" th:selected="${pageSize == '10'}">10</option>
                                <option th:value="20" th:selected="${pageSize == '20'}">20</option>
                                <option th:value="50" th:selected="${pageSize == '50'}">50</option>
                                <option th:value="100" th:selected="${pageSize == '100'}">100</option>
                                <option th:value="all" th:selected="${pageSize.toString() == 'all'}">All</option>
                            </select>
                        </div>
                    </form>
                    <form th:action="@{/inspections}" method="get" class="mb-4 flex space-x-2">
                        <input type="text" name="licensePlate" th:value="${licensePlate}" placeholder="Search License Plate"
                            class="shadow border rounded w-full py-2 px-3 bg-white text-gray-700 dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-500">
                        <button type="submit" class="bg-blue-500 text-white px-4 py-1 rounded">Search</button>
                    </form>
                </div>
                
                <table class="min-w-full table-auto border border-gray-300 dark:border-gray-600">
                    <thead>
                        <tr class="bg-gray-100 dark:bg-gray-700">
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 w-[70px]">ល​.រ</th>
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600">លេខឡាន</th>
                            <th class="px-4 py-2 text-center text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600" th:text="#{type}">Type</th>
                            <th class="px-4 py-2 text-center text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600" th:text="#{size}">size</th>
                            <th class="px-4 py-2 text-center text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 bg-green-500" th:text="#{inspection_quantity}">Qty</th>
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 bg-green-500" th:text="#{inspection_date}"></th>
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 bg-green-500" th:text="#{inspection_expired_date}"></th>
                    
                            
                            
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 bg-green-500" th:text="#{inspection_durations}">Expired Durations</th>
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 bg-green-500" th:text="#{inspection_note}">Note</th>
                            <th class="text-center px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600">
                       <tr th:each="truckInspection, row : ${trucks}" class="border border-gray-300 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800"
                                th:classappend="${truckInspection.lastInspection?.expiredColor()}"
                            >


                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${row.index + 1}"></td>
                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${truckInspection.licensePlate}"></td>
                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${truckInspection.type}"></td>
                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${truckInspection.size}"></td>

                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${truckInspection.lastInspection?.quantity}">10</td>

                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${#temporals.format(truckInspection.lastInspection?.date, 'MMM dd, yyyy')}">2025-01-01</td>
                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" th:text="${#temporals.format(truckInspection.lastInspection?.expiredDate, 'MMM dd, yyyy')}">2025-06-01</td>
                            
                            
                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-center" >
                                <p th:text="${truckInspection.lastInspection?.expiredDurationText()}"></p>
                                <!-- <p th:text="${truckInspection.lastInspection != null ? truckInspection.lastInspection.expiredDurationDays() - @setting.expiredDeduction() : 0}"></p> -->

                            </td>

                            <td class="px-4 py-2 text-gray-700 dark:text-gray-200 border border-gray-300 dark:border-gray-600" th:text="${truckInspection.lastInspection?.note}">Note</td>

                            <td class="py-3 px-6 text-center">
                                <div x-data="{ open: false }" class="relative">
                                    <!-- Dropdown toggle button -->
                                    <button 
                                        @click="open = !open" 
                                        class="m-auto bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-md text-sm flex items-center space-x-2">
                                        <i class="fas fa-bars"></i>
                                        <span>Actions</span>
                                    </button>

                                    <!-- Dropdown menu -->
                                    <div 
                                        x-show="open" 
                                        x-cloak
                                        @click.away="open = false" 
                                        x-transition 
                                        class="absolute right-0 mt-2 w-52 bg-white rounded-lg shadow-lg z-50">

                                        <a target="_blank" th:href="@{/inspections/create(truck_id=${truckInspection.id})}" 
                                            class="btnUpdateInspectionExpired rounded-lg flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-blue-100 space-x-2">
                                            <i class="fas fa-clipboard-check text-blue-500"></i>
                                            <span th:text="#{new_inspection}"></span>
                                        </a>

                                        <a target="_blank" 
                                            th:href="@{/inspections/reports(truck_id=${truckInspection.id}, licensePlate=${truckInspection.licensePlate})}" 
                                            class="flex items-center rounded-lg px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 space-x-2">
                                            <i class="fas fa-history text-gray-500"></i>
                                            <span th:text="#{inspections_reports}"></span>
                                        </a>

                                    </div>
                                </div>
                            </td>


                        </tr>
                    </tbody>
                </table>



                

            </div>

            <div class="flex justify-center mt-4 items-center">

                <ul class="inline-flex -space-x-px mr-4" 
                    th:if="${totalPages > 1}">
                    <li th:each="i : ${#numbers.sequence(0, totalPages-1)}">
                        <a th:href="@{/inspections(page=${i}, size=${pageSize})}"
                            th:text="${i + 1}"
                            class="px-3 py-1 border rounded-md mr-1 hover:bg-blue-100 dark:hover:bg-gray-700"
                            th:classappend="${i == currentPage} ? ' bg-blue-500 text-white' : 'text-blue-500'">
                        </a>
                    </li>
                </ul>

                <!-- Show All button -->
                <a th:href="@{/inspections(size=all)}"
                class="px-3 py-1 border rounded-md bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-600">
                    Show All
                </a>
            </div>


                
            </div>
        </div>
    </th:block>
</th:block>
</html>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
<script>
    $(function() {
        /*$('tr.insufficient').attr({
            'data-bs-toggle': 'tooltip',
            'title': 'រថយន្តនេះមិនទាន់គ្រប់គីឡូបាញ់ខ្លាញ់ទេ' 
        });

        // Initialize all tooltips
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });*/
        $(document).on('click', '.btnUpdateInspectionExpired', function (e) {
            const url = $(this).attr('href');
            const tr = $(this).closest('tr');

            if (tr.hasClass("insufficient")) {
                e.preventDefault(); 

                if (confirm("រថយន្តនេះមិនទាន់ថ្ងៃដែលត្រូវធ្វើឆៀកទេ។ តើអ្នកចង់បន្តទៀតឬទេ?")) {
                    window.location.href = url;
                } else {
                    return false;
                }
            }

            console.log({ tr });
        });

    })
</script>