<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layouts/main :: head}"></th:block>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        .data-type.sticky
        {
            position: sticky;
            top: 133px;
            z-index: 51;
            background: #d8d9dc5c;
            backdrop-filter: blur(2px);
        }
        .table-wrapper {
            max-height: 600px;
            overflow-y: auto;
        }

        #main-reports thead.sticky th {
            position: sticky;
            top: 72px;
            z-index: 50;
            background: #d8d9dc5c;
            backdrop-filter: blur(2px);
        }


    </style>
</head>
<th:block th:insert="~{layouts/main :: layout(~{::content}, 'Dashboard')}">
    <th:block th:fragment="content">
        <div class="">
            <div class="mx-auto sm:px-6 lg:px-8">

                <!-- Success Message -->
                <div th:if="${success}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <span class="block sm:inline" th:text="${success}"></span>
                </div>

                <div th:if="${errorCount}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4 dark:bg-red-900 dark:border-red-700 dark:text-red-300">
                    <strong>Failed to import: <span th:text="${errorCount}"></span> rows</strong>
                    <ul th:if="${errorDetails}">
                        <li th:each="error : ${errorDetails}" th:text="${error}"></li>
                    </ul>
                </div>

                <!-- Error Message -->
                <div th:if="${error}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <span class="block sm:inline" th:text="${error}"></span>
                </div>

                <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200" th:text="#{company_big_and_small_trucks_reports}"></h1>

                <div class="flex gap-2 items-center">
                    

                    <a th:href="@{/company-trucks/main/reports(
                        page=${currentPage},
                        size=${pageSize},
                        all=${showAll},
                        query=${query != null ? query : ''},
                        startDate=${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''},
                        endDate=${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''},
                        status=${status != null ? status.name() : ''},
                        export='excel'
                    )}" 
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md flex items-center space-x-2">
                        <i class="fas fa-file-export"></i>
                        <span>Export to Excel</span>
                    </a>
                </div>
                
            </div>

            <div class="mb-2">
                <form method="get" 
                    th:class="${startDate != null or endDate != null or query != null or status != null} ? '' : 'hidden'" 
                    id="filterContent"    
                >
                    <fieldset class="p-5 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm">
                        <legend class="text-sm font-semibold text-gray-700 dark:text-gray-300 mb-2">Filters</legend>
                            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                                <div class="mb-4">
                                    <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
                                        <i class="far fa-calendar-alt mr-2 text-primary-600"></i>Start Date
                                    </label>
                                    <input type="text"
                                        name="startDate"
                                        th:value="${startDate != null} ? ${#temporals.format(startDate, 'MMM dd, yyyy')} : ''"
                                        class="datepicker w-full rounded-lg border border-gray-300 dark:border-gray-600 px-4 py-2.5 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 focus:ring-2 focus:ring-primary-500 focus:border-transparent shadow-sm"
                                        placeholder="Select start date"/>
                                </div>

                                <div>
                                    <label class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
                                        <i class="far fa-calendar-alt mr-2 text-primary-600"></i>End Date
                                    </label>
                                    <input type="text"
                                        name="endDate"
                                        th:value="${endDate != null} ? ${#temporals.format(endDate, 'MMM dd, yyyy')} : ''"
                                        class="datepicker w-full rounded-lg border border-gray-300 dark:border-gray-600 px-4 py-2.5 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 focus:ring-2 focus:ring-primary-500 focus:border-transparent shadow-sm"
                                        placeholder="Select end date"/>
                                </div>

                                <div>
                                    <label for="searchInput" class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
                                        <i class="fa fa-search mr-2 text-primary-600"></i>Search by truck or destination
                                    </label>
                                    <input id="searchInput" type="text" name="query" th:value="${query}" placeholder="Search by truck or destination"
                                    class="w-full rounded-lg border border-gray-300 dark:border-gray-600 px-4 py-2.5 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 focus:ring-2 focus:ring-primary-500 focus:border-transparent shadow-sm">
                                </div>
                                <div>
                                    <label for="status" class="block text-sm font-medium mb-2 text-gray-700 dark:text-gray-300">
                                        <i class="fa fa-info-circle mr-2 text-primary-600"></i>Status
                                    </label>
                                    <select id="status" name="status" class="w-full rounded-lg border border-gray-300 dark:border-gray-600 px-4 py-2.5 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 focus:ring-2 focus:ring-primary-500 focus:border-transparent shadow-sm">
                                        <option value="" th:selected="${status == null}">All</option>
                                        <option th:each="status_ : ${statuses}" th:value="${status_.name()}" th:selected="${status_ == status}" th:text="${status_.name()}"></option>
                                    </select>
                                </div>
                            </div>
                    </fieldset>

                    <div class="mt-4 mb-4 flex justify-end">
                        <div class="flex gap-2">
                            <button type="submit"
                                th:text="#{apply_filters}"
                                class="px-6 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none shadow-sm">
                                Apply Filters
                            </button>
                            <a href="/company-trucks/main/reports"
                                th:text="#{reset}"
                                class="px-6 py-2 bg-red-600 text-white font-medium rounded-lg hover:bg-red-700 focus:ring-2 focus:ring-red-500 focus:outline-none shadow-sm">
                                Reset
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="">
                <div class="flex justify-between items-center mb-4">
                    <form method="get" class="flex items-center gap-4 text-gray-800 dark:text-gray-200">

                        <!-- keep filters -->
                        <input type="hidden" name="query" th:value="${query}" />
                        <input type="hidden" name="startDate"
                            th:value="${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''}" />
                        <input type="hidden" name="endDate"
                            th:value="${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''}" />
                        <input type="hidden" name="status" th:value="${status}" />

                        <!-- reset page -->
                        <input type="hidden" name="page" value="0" />
                        <!-- Page size selector -->
                        <div class="flex items-center">
                            <label for="size">Size:</label>
                            <select id="size" name="size" onchange="this.form.submit()" class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:text-gray-100">
                                <option th:value="5" th:selected="${pageSize == '5'}">5</option>
                                <option th:value="10" th:selected="${pageSize == '10'}">10</option>
                                <option th:value="20" th:selected="${pageSize == '20'}">20</option>
                                <option th:value="50" th:selected="${pageSize == '50'}">50</option>
                                <option th:value="100" th:selected="${pageSize == '100'}">100</option>
                                <option th:value="all" th:selected="${pageSize.toString() == 'all'}">All</option>
                            </select>
                        </div>
                    </form>

                    <a id="toggleFilter" class="cursor-pointer inline-flex gap-2 items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 dark:focus:ring-offset-gray-800">
                        <i class="fa fa-filter"></i>  
                        <span>Toggle Filter</span>
                    </a>
                </div>
                

                <table id="main-reports" class="w-full border-collapse border border-gray-300 dark:border-gray-700">
                    <thead>
                        <tr
                            class="bg-gray-200 dark:bg-gray-700 text-left transition-colors duration-300">
                            <th class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{no}" style="width: 10px;">No</th>
                            <th style="width: 120px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{date}">កាលបរិច្ឆេទ</th>
                            <th style="width: 80px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{truck_no}">លេខឡាន</th>
                            <th class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{destination}">គោលដៅសរុប</th>
                            <th style="width: 120px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{total_distance}">ចម្ងាយសរុប</th>
                            <th class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{average}">មធ្យមភាគ</th>
                            <th class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{measurement}"></th>
                            <th style="width: 120px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{fuel_quantity}">ចំនួនប្រេង</th>
                            <th style="width: 100px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{other_fuel}">ប្រេងផ្សេងៗ</th>
                            <th style="width: 150px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{total_fuel_fill_for_truck}">សរុបប្រេងចាក់អោយឡាន</th>

                            <th style="width: 160px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{request_type}">ប្រភេទសំណើរ</th>

                            <th style="width: 160px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{created_at}">បង្កើតនៅ</th>
                            <th style="width: 120px;"  class="p-3 text-center text-gray-700 border border-gray-300 dark:border-gray-700 bg-yellow-500" th:text="#{fuel_filled_status}">ស្ថានភាពចាក់ប្រេង</th>
                            

                            
                            
                            <th style="width: 150px;"class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{filled_by}">អ្នកចាក់</th>
                            <th  style="width: 160px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{filled_at}">ចាក់នៅម៉ោង</th>
                            <th  style="width: 160px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{last_update}"></th>
                            <th  style="width: 160px;" class="p-3 text-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700" th:text="#{created_by}"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="data-type">
                            <td colspan="17" class="p-1 text-left text-gray-300 border border-gray-300 dark:border-gray-700 bg-gray-500" th:text="#{company_trucks}"></td>
                        </tr>
                        <tr colspan="17" th:if="${companyTrucks.empty}" class="text-center">
                            <th:block th:insert="components/empty-data :: empty-state(
                                icon=${'fa fa-plus-circle'},
                                title='No Company Big Trucks found',
                                message='No data is currently available. Try adjusting your search or add a new Company Big Trucks.',
                                buttonText=null,
                                buttonLink=null
                            )" />
                        </tr>
                        <tr th:each="data, iterStat : ${companyTrucks}" class="border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors duration-300">
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" 
                                th:text="${(currentPage * pageSizeNumber) + iterStat.index + 1}">1
                            </td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.date, 'MMM dd, yyyy')}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.truck.licensePlate}"></td>
                            <td class="text-left p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.totalDestination}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getTotalKmFormat()}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getAverageFormat()}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.measurement}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getLitreQuantityFormat()}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.otherOils}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getTotalOilsChangeFormat()}"></td>

                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="#{company_trucks}"></td>

                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.createdAt, 'MMM dd, yyyy HH:mm a')}"></td>
                            
                            

                            <td class="p-3 border text-center border-gray-300 dark:border-gray-700">
                                <span th:class="${data.status.name == 'PENDING' ? 
                                    'px-2 py-1 rounded-md text-xs bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-200' : 
                                    'px-2 py-1 rounded-md text-xs bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200'}" 
                                    th:text="${data.status}">
                                </span>
                            </td>



                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.deductedBy?.fullName}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.deductedAt, 'MMM dd, yyyy HH:mm a')}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.updatedAt, 'MMM dd, yyyy HH:mm a')}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.createdBy?.fullName}"></td>

                            

                            
                        </tr>
                        
                        <tr class="data-type">
                            <td colspan="17" class="p-1 text-left text-gray-300 border border-gray-300 dark:border-gray-700 bg-gray-500" th:text="#{company_small_trucks}"></td>
                        </tr>
                        <tr colspan="17" th:if="${companySmallTrucks.empty}" class="text-center">
                            <th:block th:insert="components/empty-data :: empty-state(
                                icon=${'fa fa-plus-circle'},
                                title='No Company Small Trucks found',
                                message='No data is currently available. Try adjusting your search or add a new Company Small Trucks.',
                                buttonText=null,
                                buttonLink=null
                            )" />
                        </tr>
                        <tr th:each="data, iterStat : ${companySmallTrucks}" class="border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors duration-300">
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" 
                                th:text="${(currentPage * pageSizeNumber) + iterStat.index + 1}">1
                            </td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.date, 'MMM dd, yyyy')}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.truck.licensePlate}"></td>
                            <td class="text-left p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.totalDestination}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getTotalKmFormat()}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getAverageFormat()}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.measurement}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getLitreQuantityFormat()}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.otherOils}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.getTotalOilsChangeFormat()}"></td>

                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="#{company_small_trucks}"></td>

                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.createdAt, 'MMM dd, yyyy HH:mm a')}"></td>
                            
                            

                            <td class="p-3 border text-center border-gray-300 dark:border-gray-700">
                                <span th:class="${data.status.name == 'PENDING' ? 
                                    'px-2 py-1 rounded-md text-xs bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-200' : 
                                    'px-2 py-1 rounded-md text-xs bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-200'}" 
                                    th:text="${data.status}">
                                </span>
                            </td>



                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.deductedBy?.fullName}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.deductedAt, 'MMM dd, yyyy HH:mm a')}"></td>

                            
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${#temporals.format(data.updatedAt, 'MMM dd, yyyy HH:mm a')}"></td>
                            <td class="text-center p-3 text-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-700" th:text="${data.createdBy?.fullName}"></td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>


                <!-- Pagination and Info -->
                <div class="flex flex-col sm:flex-row justify-between items-center mt-6 gap-4">
                    <!-- Info -->
                    <div class="text-sm text-gray-600 dark:text-gray-400">
                        <span th:if="${totalElements > 0}">
                            Showing 
                            <span th:text="${startIndex}">1</span> to 
                            <span th:text="${endIndex}">10</span> of 
                            <span th:text="${totalElements}">100</span> entries
                        </span>
                        <span th:if="${totalElements == 0}">
                            No entries found
                        </span>
                    </div>
                    
                    <!-- Pagination -->
                    <div class="flex items-center space-x-2" th:if="${totalPages > 1}">
                        <!-- First Page -->
                        <a th:href="@{/company-trucks/main/reports(page=0, size=${pageSize}, sortBy=${sortBy}, order=${order}, query=${query != null ? query : ''},
                            startDate=${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''},
                            endDate=${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''}, status=${status != null ? status.name() : ''})}"
                        th:if="${currentPage > 0}"
                        class="px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700"
                        title="First Page">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        
                        <!-- Previous Page -->
                        <a th:href="@{/company-trucks/main/reports(page=${currentPage - 1}, size=${pageSize}, sortBy=${sortBy}, order=${order}, query=${query != null ? query : ''},
                            startDate=${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''},
                            endDate=${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''}, status=${status != null ? status.name() : ''})}"
                        th:if="${currentPage > 0}"
                        class="px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700"
                        title="Previous Page">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        
                        <!-- Page Numbers -->
                        <div class="flex items-center space-x-1">
                            <span th:each="i : ${#numbers.sequence(0, totalPages-1)}">
                                <a th:href="@{/company-trucks/main/reports(page=${i}, size=${pageSize}, sortBy=${sortBy}, order=${order}, query=${query != null ? query : ''},
                                    startDate=${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''},
                                    endDate=${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''}, status=${status != null ? status.name() : ''})}"
                                th:text="${i + 1}"
                                th:classappend="${i == currentPage} ? 
                                    'bg-blue-500 text-white border-blue-500' : 
                                    'text-gray-700 dark:text-gray-300 border-gray-300 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-700'"
                                class="px-3 py-2 border rounded-md text-sm">
                                </a>
                            </span>
                        </div>
                        
                        <!-- Next Page -->
                        <a th:href="@{/company-trucks/main/reports(page=${currentPage + 1}, size=${pageSize}, sortBy=${sortBy}, order=${order}, query=${query != null ? query : ''},
                            startDate=${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''},
                            endDate=${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''}, status=${status != null ? status.name() : ''},)}"
                        th:if="${currentPage < totalPages - 1}"
                        class="px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700"
                        title="Next Page">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        
                        <!-- Last Page -->
                        <a th:href="@{/company-trucks/main/reports(page=${totalPages - 1}, size=${pageSize}, sortBy=${sortBy}, order=${order}, query=${query != null ? query : ''},
                            startDate=${startDate != null ? #temporals.format(startDate, 'MMM dd, yyyy') : ''},
                            endDate=${endDate != null ? #temporals.format(endDate, 'MMM dd, yyyy') : ''}, status=${status != null ? status.name() : ''})}"
                        th:if="${currentPage < totalPages - 1}"
                        class="px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700"
                        title="Last Page">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>


                
            </div>
        </div>
    </th:block>
</th:block>
</html>



<th:block th:fragment="~{layouts/main :: body-scripts}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" ></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    
    <script>
        $(function() {
            $('#truck').select2({
                placeholder: "Select Truck",
                allowClear: true
            });
            $('#truck').on('change', function () {
                $('#licensePlate').val('');
            });

            $("#toggleFilter").click(function(e) {
                e.preventDefault();
                $("#filterContent").slideToggle();
            })
            $(".datepicker").flatpickr({
                dateFormat: "M d, Y",
                allowInput: true
            });

            $(window).on("scroll", function () {
                let offset = $("#main-reports").offset().top;

                if ($(window).scrollTop() > offset - 72) {
                    $("#main-reports thead, #main-reports .data-type").addClass("sticky");
                    
                } else {
                    $("#main-reports thead, #main-reports .data-type").removeClass("sticky");
                }
            });

        })
    </script>
        
</th:block>
